* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    
}

#root {
    display: grid;
    grid-template-rows: 48px 1fr 48px;

}

:root {
    --cor-primaria-clara: lab(92.63% -40.12 -0.78);
    --cor-primaria: hsl(172, 100%, 50%);
    --cor-primaria-escura: hsl(177, 86%, 42%);

    --cor-secundaria-clara: hsl(355, 100%, 86%);
    --cor-secundaria: hsl(335, 100%, 70%);
    --cor-secundaria-escura: hsl(330, 63%, 44%);

    --cor-fundo-padrao: hsl(29, 100%, 90%);

    --cor-texto-padrao: #1c2025;
    --cor-texto-claro: #fff;

    --cor-info: lab(63.83% 23.85 -19.7);
    --cor-sucesso: hwb(135 24% 45%);
    --cor-aviso: hsl(350, 38%, 47%);
    --cor-erro: hwb(354 12% 50%);

    --cor-cinza: hsl(214, 3%, 55%);
}